@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
  --fontFamily: 'Nunito', sans-serif;
  --maxWidth: 700px;
  --borderRadius: 3px;
  --transition: all 0.3s ease;
  --primaryColor: #011936;
  --secondaryColor: #465362;
  --lightColor: #f1f2f6;
  --darkColor: #2b2118;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontFamily);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 2px;
  background-color: var(--lightColor);
  color: var(--darkColor);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
